<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Patients List</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/patients/list">Patients</a>&nbsp;|&nbsp;
		</div>
	</div>
	<div class="row"><h2>Patients</h2></div>
	<div class="row">
		<a href="/patients/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr class="text-center">
					<th>Id</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Birthdate</th>
					<th>Gender</th>
					<th>Address</th>
					<th>Phone Number</th>
					<th>Note(s)</th>
					<th>Assessment(s)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="patient : ${patient}">
					<td class="text-center" th:text="${patient.id}"></td>
					<td class="text-center" th:text="${patient.lastname}"></td>
					<td class="text-center" th:text="${patient.firstname}"></td>
					<td style="width: 15%" class="text-center" th:text="${patient.birthdate}"></td>
					<td class="text-center" th:text="${patient.gender}"></td>
					<td style="width: 25%" class="text-center" th:text="${patient.address}"></td>
					<td style="width: 25%" class="text-center" th:text="${patient.phoneNumber}"></td>
					<td style="width: 10%" class="text-center">
						<a th:href="@{/notes/list?lastnameOfPatient={lastnameOfPatient}(lastnameOfPatient=${patient.lastname})}">Notes</a>
					</td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/assessment?familyName={familyName}(familyName=${patient.lastname})}">Assessment</a>
					</td>
					<td style="width: 25%" class="text-center">
						<a th:href="@{/patients/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/patients/delete/{id}(id=${patient.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>